@import url(fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans';
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #02918c;
}

.content {
    max-width: 1187px;
    width: 100%;
    margin: 0 auto;
}

.header__row {
    min-height: 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.header__logo {
    font-size: 1.625em;
    font-weight: 800;
}

.header__logo, .header__link {
    text-decoration: none;
    color: #ffffff;
}

.header__logo_yellow {
    color: #cfc91d;
}

.header__nav {
    width: 496px;
}

.header__list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.header__link {
    font-size: 0.750em;
    font-weight: 800;
}

.main {
    flex-grow: 1;
}

/* -------------------------------------home-block--------------------------------- */

.home-block {
    background: url('./images/home/men.jpg') center/cover no-repeat;
    color: #ffffff;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 728px;
}

.home-text {
    text-align: center;
    font-weight: 400;
    line-height: 3.125em;
    margin: 0 0 0 40px;
}

.home-text_medium {
    font-size: 1.875em;
}

.home-text_big {
    text-transform: uppercase;
    font-size: 4.250em;
    font-weight: 800;
    letter-spacing: 0.34em;
    line-height: 60px;
}

.home-text_small {
    font-size: 1.125em;
}

.home-content [alt="bracket"] {
    margin: 48px 0 50px 0;
    width: 100px;
    height: auto;
}

.button {
    background-color: #cfc91d;
    border: none;
    font-size: 0.875em;
    letter-spacing: 2px;
    color: #0b1016;
    font-weight: 800;
    width: 196px;
    height: 47px;
    cursor: pointer;
    text-transform: uppercase;
}

/* -------------------------------------about-block--------------------------------- */

.about-block {
}
.about-content {
    min-height: 738px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-block-text {
    text-align: center;
    margin: 0 0 80px 0;
}
.text {
    line-height: 41px;
    color: #7e8287;
    font-weight: 400;
}
.about-block__title {  
}
.title {
    font-size: 46px;
    color: #02918c;
    font-weight: 800;
    margin:0 0 8px 0;
}
.about-block__subtitle {
}
.subtitle {
    font-size: 16px;
}
.about-block__paragraph {
    max-width: 912px;
}
.paragraph {
    font-size: 16px;
}
.about-block__paragraph_bold {
    font-weight: 900;
    font-size: 23px;
}
.about-block-container {
    display: flex;
}
.about-block-item {
    text-align: center;
    border-right: 1px solid #d9dbdb;
    padding: 30px 60px;
    margin: 0 auto;
}

.about-block-item:last-child {
    border: none;
}
.block-item {
}
.about-block-item__title {
    margin: 20px 0 20px 0;
}
.block-item__title {
    font-size: 16px;
    line-height: 23px;
    color: #7e8287;
    font-weight: 800;
}
.about-block-item__paragraph {
    
}
.block-item__paragraph {
    font-size: 11px;
    line-height: 21px;
    font-weight: 400;
    color: #7e8287;
    max-width: 205px;
}

/* -------------------------------------services-block--------------------------------- */


.services-block {
    background: url('./images/services/services.jpg') center/cover no-repeat;
}
.services-content {
    padding: 0 0 0 43px;
    min-height: 728px;
    display: flex;
    flex-direction: column;
    max-width: 520px;
    justify-content: center;
}
.services-block-text {
    margin: 0 0 55px 0;
}
.services-block__title {
}
.services-block__subtitle {
}
.services-block__paragraph {
}
.services-block-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.services-block-item {
}
.services-block-item__title {
    margin: 15px 0 15px 0;
}
.services-block-item__paragraph {
}

/* -------------------------------------work-block--------------------------------- */

.work-block {
}
.content {
}
.work-content {
    min-height: 826px;
    max-width: 1284px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.work-block-text {
    text-align: center;
    max-width: 667px;
    margin: 0 0 80px 0;
}
.text {
}
.work-block__title {
}
.title {
}
.work-block__subtitle {
}
.subtitle {
}
.work-block__paragraph {
}
.paragraph {
}

.work-container {
    display: flex;
    flex-wrap: wrap;
}
.work-block-photo {
    width: 321px;
    height: 238px;
    margin: 0 auto;
}
.work-block-photo_glass {
    background: url('./images/work/glass.jpg');
}
.work-block-photo_nature {
    background: url('./images/work/nature.jpg');
}
.work-block-photo_car {
    background: url('./images/work/car.jpg');
}
.work-block-photo_swan {
    background: url('./images/work/swan.jpg') center/cover no-repeat;
}
.work-block-photo_banana {
    background: url('./images/work/banana.jpg');
}
.work-block-photo_dog {
    background: url('./images/work/dog.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
}
.work-block-photo_hair {
    background: url('./images/work/woman.jpg');
}
.work-block-photo_woman {
    background: url('./images/work/woman_and_flower.jpg') center/cover no-repeat;
}
.work-block-item {
    width: 266px;
    height: 196px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(2, 145, 140, 0.851);
}

.work-block-item__title, .work-block-item__paragraph {
    color: #ffffff;
}
.block-item {
}
.work-block-item__title {
}
.block-item__title {
}
.work-block-item__paragraph {
}
.block-item__paragraph {
}


/* -------------------------------------contact-block--------------------------------- */

.contact-block {
}
.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.work-block-text {
}
.text {
}
.work-block__title {
}
.title {
}
.work-block__subtitle {
}
.subtitle {
}
.work-block__paragraph {
}
.paragraph {
}
.form {
    background: #0b0b0b;
    width: 100%;
    
}
.form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 565px;
    gap: 20px;
}
.form__input {
    text-align: center;
    padding: 14px 0 14px 0;
    outline: none;
}
.form__button {
}
.button {
}


/* -------------------------------------footer--------------------------------- */

.footer {
    background-color: #000000;
}

.footer__text {
    color: white;
    font-size: 0.750em;
    color: #7e8287;
    font-weight: 400;
    min-height: 71px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width : 1024px) {
    .about-block-container {
        flex-wrap: wrap;
    }

    .about-block-item {
        border: none;
    }

    .about-block__paragraph_bold {
        font-weight: 400;
        font-size: 16px;
    }

    .about-block-item {
        padding: 10px 30px;
    }
}

@media (max-width : 800px)  {}

@media (max-width : 768px)  {
    .home-text {
        line-height: 2em;
        margin: 0;
    }
    
    .home-text_medium {
        font-size: 1.2em;
    }
    
    .home-text_big {
        font-size: 2em;
        font-weight: 800;
        line-height: 35px;
    }

    .header__list {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width : 600px)  {
    .title {
        margin:15px 0 8px 0;
    }

    .services-content {
        margin: 0 auto;
        padding: 0;
    }

    .services-block-text {
        text-align: center;
    }

    .services-block-container {
        justify-content: center;
        text-align: center;
    }
}

@media (max-width : 533px)  {}

@media (max-width : 360px)  {}

@media (max-width : 320px)  {}