@import url(fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans';
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #02918c;
}

.content {
    margin: 0 auto;
    max-width: 1187px;
    width: 100%;
}

.header-row {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
    min-height: 61px;
    text-transform: uppercase;
}

/* -----burger-menu----- */

.button-checkbox {
    position: absolute;
    display: none;
}

.icon-burger {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: none;
    cursor: pointer;
}

.line {
    display: block;
    margin: 5px;
    width: 38px;
    height: 5px;
    transition: all 0.3s;
    border-radius: 3px;
    background: #ffffff;
}

.button-checkbox:checked + .icon-burger + .header__logo + .header__nav{
    bottom: 0;
}

.button-checkbox:checked + .icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
}

.button-checkbox:checked + .icon-burger .line:nth-child(2) {
    opacity: 0;
}

.button-checkbox:checked + .icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
}

.header__logo {
    transition: 0.3s;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 1.625rem;
    font-weight: 800;
}

.header__logo:hover {
    border: 2px solid #ffffff;
}

.header__logo, .header__link {
    text-decoration: none;
    color: #ffffff;
}

.header__logo_yellow {
    color: #cfc91d;
}

.header__nav {
    transition: 0.4s;
    width: 496px;
}

.header__list {
    display: flex;
    justify-content: space-between;
    transition: 0.3s;
    list-style-type: none;
    text-align: center;
}

.header__link {
    display: inline-block;
    font-size: 0.750rem;
    font-weight: 800;
}

.header__link::after {
    content: "";
    display: block;
    transform: scale(0);
    height: 2px;
    background: #ffffff;
    transition: 0.3s;
}

.header__link:hover::after {
    transform: scale(1);
}

.main {
    flex-grow: 1;
}

/* ----home-block---- */

.home-block {
    background: url('./images/home/men.jpg') center/cover no-repeat;
    color: #ffffff;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 728px;
}

.home-text {
    font-weight: 400;
    text-align: center;
}

.home-text_medium {
    font-size: 1.875rem;
    letter-spacing: 1px;
}

.home-text_big {
    font-size: 4.250rem;
    font-weight: 800;
    line-height: 5.375rem;
    letter-spacing: 1.4rem;
    text-transform: uppercase;
    margin: 0 0 0 30px;
}

.home-text_small {
    font-size: 1.125rem;
}

.home-content [alt="bracket"] {
    margin: 48px 0 50px 0;
}

.button {
    transition: 0.2s;
    border: none;
    width: 196px;
    height: 47px;
    background-color: #cfc91d;
    cursor: pointer;
    color: #0b1016;
    font-size: 0.875rem;
    font-weight: 800;
    letter-spacing: 0.125rem; 
    text-transform: uppercase;
}

.button:hover {
    background: #928e1c;
    color: #ffffff;
}

/* ----about-block---- */

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    min-height: 738px;
}

.about-block-text {
    padding: 95px 0 0 0;
    text-align: center;
}

.text {
    font-weight: 400;
    line-height: 2.563rem;
    color: #7e8287;
}

.title {
    margin:0 0 10px 0;
    font-size: 2.875rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #02918c;
}

.about-block__paragraph {
    max-width: 912px;
}

.about-block__paragraph_bold {
    font-size: 1.438rem;
    font-weight: 900;
}

.about-block-container {
    display: flex;
}

.about-block-item {
    margin: 0 auto;
    border-right: 1px solid #d9dbdb;
    padding: 50px 55px 35px 55px;
    text-align: center;
}

.about-block-item:last-child {
    border: none;
}

.block-item {
    color: #7e8287;
}

.about-block-item__title {
    margin: 20px 0 20px 0;
}

.block-item__title {
    font-weight: 800;
    line-height: 1.438rem; 
}

.block-item__paragraph {
    max-width: 170px;
    line-height: 21px;
    font-size: 0.688rem;
    font-weight: 400;
}

/* ----services-block---- */

.services-block {
    background: url('./images/services/services.jpg') center/cover no-repeat;
}

.services-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 75px 0 0 40px;
    min-height: 728px;
    max-width: 520px; 
}

.services-block__title {
    margin: 0 0 20px 0;
}

.services-block-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 115px;
}

.services-block-item {
    max-width: 185px;
}

.services-block-item__title {
    margin: 15px 0 15px 0;
}

/* ----work-block---- */

.work-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 80px;
    margin: 0 auto;
    width: 100%;
    max-width: 1284px;
    min-height: 826px;
}

.work-block-text {
    max-width: 667px;
    padding: 100px 0 0 0;
    text-align: center;
}

.work-container {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
}

.work-block-photo {
    width: 321px;
    height: 238px;
}

.work-block-photo_glass {
    background: url('./images/work/glass.jpg');
}

.work-block-photo_nature {
    background: url('./images/work/nature.jpg');
}

.work-block-photo_car {
    background: url('./images/work/car.jpg');
}

.work-block-photo_swan {
    background: url('./images/work/swan.jpg') center/cover no-repeat;
}

.work-block-photo_banana {
    background: url('./images/work/banana.jpg');
}

.work-block-photo_dog {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./images/work/dog.jpg');
}

.work-block-photo_hair {
    background: url('./images/work/woman.jpg');
}

.work-block-photo_woman {
    background: url('./images/work/woman_and_flower.jpg') center/cover no-repeat;
}

.work-block-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(2, 145, 140, 0.851);
    width: 266px;
    height: 196px;
    text-align: center;
}

.work-block-item__title, .work-block-item__paragraph {
    color: #ffffff;
}

/* ----contact-block---- */

.contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    min-height: 798px;
}

.contact-block-text {
    text-align: center;
    padding: 100px 0 0 0;
}

.form {
    width: 100%;  
    background: #0b0b0b;
}

.form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 565px;
    width: 95%;
}

.form__input {
    margin: 20px 0 20px 0;
    padding: 14px 0 14px 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #898989;
    background-color: transparent;
    outline: none;
    color: #ffffff;
    text-align: center;
    font-size: 1rem;
}

.form__input:focus {
    border-bottom: 1px solid #ffffff;
}

.form__input_name, .form__input_email {
    max-width: 637px;
}

.form__input_message {
    max-width: 917px;
}

.form__button {
    margin: 40px 0 0 0;
}

/* -----footer--------*/

.footer {
    background-color: #000000;
}

.footer__text {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 71px;  
    font-size: 0.750rem;
    font-weight: 400;
    color: #7e8287;
}

@media only screen and (max-width : 1024px) {
    .home-content {
        min-height: 600px;
    }

    .about-block-container {
        flex-wrap: wrap;
    }

    .about-block-item {
        border: none;
    }

    .about-block__paragraph_bold {
        font-size: 1rem;
        font-weight: 400;
    }
}

@media only screen and (max-width : 768px)  {
    .header-row {
        width: 97%;
    }

    .home-content {
        min-height: 450px;
    }
    
    .home-text_medium, .home-text_small {
        font-size: 1.2rem;
    }

    .home-text_big {
        margin: 0;
        font-size: 2rem;
        line-height: 2.188rem;
        font-weight: 800;
        letter-spacing: 0.6rem;
    }

    .work-block-photo:nth-child(odd) {
        display: none;
    }
}

@media only screen and (max-width : 600px)  {
    .header {
        position: fixed;
        width: 100%;
    }

    .header-row {
        justify-content: center;
    }

    .header__nav {
        position: fixed;
        top: 61px;
        bottom: 100%;
        overflow: hidden;
        width: 100%;
        background-color: rgba(2,145,140,0.9);
    }

    .header__list {
        flex-direction: column;
    }

    .header__link {
        margin: 0 0 8px 0;
    }

    .icon-burger {
        display: block;
    }

    .home-content {
        margin: 61px 0 0 0;
        min-height: 350px;
    }

    .home-content [alt="bracket"] {
        margin: 18px 0 20px 0;
    }

    .about-block-item {
        padding: 25px 30px 17px 30px;
    }

    .services-content {
        margin: 0 auto;
        padding: 75px 0 0 0;
    }

    .services-block-text {
        text-align: center;
    }

    .services-block-container {
        justify-content: center;
        text-align: center;
    }
}

@media only screen and (max-width : 533px)  {
    .about-content {
        gap: 0;
    }
}

@media only screen and (max-width : 360px)  {
    .home-content {
        padding: 60px 0 60px 0;
    }
}